<?php
/**
 * EnterpriseApiApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * EnterpriseApiApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class EnterpriseApiApi
{

    /**
     * API Client
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://www.callcontrol.com');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     * @return EnterpriseApiApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * enterpriseApiGetBlockList
     *
     * Enterprise  GET: GetBlockList\r\n            Simple Enteprise which returns the current and complete list of numbers that the network is blocking
     *
     * @param bool $cached  (optional)
     * @return string[]
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiGetBlockList($cached = null)
    {
        list($response, $statusCode, $httpHeader) = $this->enterpriseApiGetBlockListWithHttpInfo ($cached);
        return $response; 
    }


    /**
     * enterpriseApiGetBlockListWithHttpInfo
     *
     * Enterprise  GET: GetBlockList\r\n            Simple Enteprise which returns the current and complete list of numbers that the network is blocking
     *
     * @param bool $cached  (optional)
     * @return Array of string[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiGetBlockListWithHttpInfo($cached = null)
    {
        
  
        // parse inputs
        $resourcePath = "/api/2015-11-01/Enterprise/GetBlockList";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($cached !== null) {
            $queryParams['cached'] = $this->apiClient->getSerializer()->toQueryValue($cached);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, 'string[]'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, 'string[]', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), 'string[]', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * enterpriseApiGetUser
     *
     * Enterprise  GET: GetUser\r\n            Returns the current information from the user
     *
     * @param string $phone_number  (required)
     * @return \Swagger\Client\Model\CallControlUser
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiGetUser($phone_number)
    {
        list($response, $statusCode, $httpHeader) = $this->enterpriseApiGetUserWithHttpInfo ($phone_number);
        return $response; 
    }


    /**
     * enterpriseApiGetUserWithHttpInfo
     *
     * Enterprise  GET: GetUser\r\n            Returns the current information from the user
     *
     * @param string $phone_number  (required)
     * @return Array of \Swagger\Client\Model\CallControlUser, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiGetUserWithHttpInfo($phone_number)
    {
        
        // verify the required parameter 'phone_number' is set
        if ($phone_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $phone_number when calling enterpriseApiGetUser');
        }
  
        // parse inputs
        $resourcePath = "/api/2015-11-01/Enterprise/GetUser/{phoneNumber}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        // path params
        
        if ($phone_number !== null) {
            $resourcePath = str_replace(
                "{" . "phoneNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($phone_number),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\CallControlUser'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\CallControlUser', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\CallControlUser', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * enterpriseApiShouldBlock
     *
     * Enterprise  GET: ShouldBlock\r\n            Simple Enteprise which returns a call block proceed decision.
     *
     * @param string $phone_number phone number to search (required)
     * @param string $user_phone_number (OPTOPNAL) phone number of user to look up block rules (required)
     * @return string
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiShouldBlock($phone_number, $user_phone_number)
    {
        list($response, $statusCode, $httpHeader) = $this->enterpriseApiShouldBlockWithHttpInfo ($phone_number, $user_phone_number);
        return $response; 
    }


    /**
     * enterpriseApiShouldBlockWithHttpInfo
     *
     * Enterprise  GET: ShouldBlock\r\n            Simple Enteprise which returns a call block proceed decision.
     *
     * @param string $phone_number phone number to search (required)
     * @param string $user_phone_number (OPTOPNAL) phone number of user to look up block rules (required)
     * @return Array of string, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiShouldBlockWithHttpInfo($phone_number, $user_phone_number)
    {
        
        // verify the required parameter 'phone_number' is set
        if ($phone_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $phone_number when calling enterpriseApiShouldBlock');
        }
        // verify the required parameter 'user_phone_number' is set
        if ($user_phone_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_phone_number when calling enterpriseApiShouldBlock');
        }
  
        // parse inputs
        $resourcePath = "/api/2015-11-01/Enterprise/ShouldBlock/{phoneNumber}/{userPhoneNumber}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        // path params
        
        if ($phone_number !== null) {
            $resourcePath = str_replace(
                "{" . "phoneNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($phone_number),
                $resourcePath
            );
        }// path params
        
        if ($user_phone_number !== null) {
            $resourcePath = str_replace(
                "{" . "userPhoneNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_phone_number),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, 'string'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * enterpriseApiUpsertUser
     *
     * 
     *
     * @param \Swagger\Client\Model\CallControlUser $user  (required)
     * @return \Swagger\Client\Model\Object
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiUpsertUser($user)
    {
        list($response, $statusCode, $httpHeader) = $this->enterpriseApiUpsertUserWithHttpInfo ($user);
        return $response; 
    }


    /**
     * enterpriseApiUpsertUserWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\CallControlUser $user  (required)
     * @return Array of \Swagger\Client\Model\Object, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function enterpriseApiUpsertUserWithHttpInfo($user)
    {
        
        // verify the required parameter 'user' is set
        if ($user === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user when calling enterpriseApiUpsertUser');
        }
  
        // parse inputs
        $resourcePath = "/api/2015-11-01/Enterprise/UpsertUser";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','text/json','application/xml','text/xml','application/x-www-form-urlencoded'));
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($user)) {
            $_tempBody = $user;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\Object'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\Object', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Object', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
